<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".yml" mimeType="text/yaml" />
            <mimeMap fileExtension=".blockmap" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>
